<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>
  <link href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
  <script
    src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.js"></script>
  <link rel="stylesheet"
    href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.css"
    type="text/css" />
  <link rel="stylesheet" href="/css/style.min.css">
  <link rel="icon" href="/assets/favicon.png">
  <title><%= hotel.name %> | Travor</title>
</head>

<body>

  <%- include('../partials/header.ejs') %>

  <div class="hotel-head" style="background-image: url(<%- hotel.image %>);">
    <div class="hotel-title">
      <h1><%= hotel.name %>, <%= hotel.state || 'Delhi' %></h1>
    </div>
  </div>

  <div class="hotel-page-info">

    <div class="hotel-left">
      <div class="hotel-about">
        <%- showCovidStats(hotel.covid) %>
        <h1><%= hotel.name %></h1>
        <p class="location"><%= `${hotel.state}, ${hotel.country}` %></p>
        <div class="rating">
          <%- showStar('3.4') %>
        </div>
        <p><%= hotel.description %></p>
      </div>

      <div id='location-map'></div>
    </div>

    <div class="hotel-right">
      <% rooms.forEach(room => { %>
      <div class="hotel-room">
        <div class="hotel-img" style="background-image: url('<%= room.image %>');"></div>
        <div class="hotel-room-info">
          <div class="hotel-room-head">
            <h1><%= room.name %></h1>
            <p><%= room.beds %> BHK</p>
          </div>
          <p><%= room.description %></p>
          <p class="price">₹ <%= room.price %></p>
          <a href="<%= `/booking/${room._id}` %>" class="book">Book</a>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
  <div class="divider"></div>
  <div class="directions">
    <div class="page-subhead">Directions</div>
    <div id="direction-map"></div>
  </div>

  <%- include('../partials/footer.ejs') %>

  <script>
    mapboxgl.accessToken = 'pk.eyJ1IjoibW9rc2hpdDA2IiwiYSI6ImNrYW1qamMybDA0eW0yeXFvMnB5dW1sMmUifQ.T7tkxjaaE6hY6m4mV5GEpQ';

    const map = new mapboxgl.Map({
      container: 'location-map',
      style: 'mapbox://styles/mapbox/streets-v11',
      center: <%= JSON.stringify(hotel.coordinates) %>,
      zoom: 12
    });

    map.on('load', () => {
      map.loadImage('https://docs.mapbox.com/mapbox-gl-js/assets/custom_marker.png', (err, image) => {
        if (err) throw err;
        map.addImage('custom-marker', image);

        map.addSource('places', {
          type: 'geojson',
          data: {
            'type': 'FeatureCollection',
            features: [
              {
                type: 'Feature',
                properties: {
                  description: '<%- `<strong>${hotel.name}</strong> <br /> ${hotel.description}` %>',
                },
                geometry: {
                  type: 'Point',
                  coordinates: <%= JSON.stringify(hotel.coordinates) %>,
                }
              }
            ]
          }
        });

        map.addLayer({
          'id': 'places',
          'type': 'symbol',
          'source': 'places',
          'layout': {
            'icon-image': 'custom-marker',
            'icon-allow-overlap': true
          }
        });
      })

      const popup = new mapboxgl.Popup({
        closeButton: false,
        closeOnClick: false
      });

      map.on('mouseenter', 'places', function (e) {
        map.getCanvas().style.cursor = 'pointer';

        const coordinates = e.features[0].geometry.coordinates.slice();
        const description = e.features[0].properties.description;

        while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
          coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
        }

        popup
          .setLngLat(coordinates)
          .setHTML(description)
          .addTo(map);
      });

      map.on('mouseleave', 'places', function () {
        map.getCanvas().style.cursor = '';
        popup.remove();
      });
    })

    const directionMap = new mapboxgl.Map({
      container: 'direction-map',
      style: 'mapbox://styles/mapbox/streets-v11',
      center: <%= JSON.stringify(hotel.coordinates) %>,
      zoom: 13
    });

    directionMap.addControl(
      new MapboxDirections({
        accessToken: mapboxgl.accessToken
      }),
      'top-left'
    );

    navigator.geolocation.getCurrentPosition((
      { coords: { latitude, longitude } }) => {
      const url = `https://api.mapbox.com/directions/v5/mapbox/driving/${encodeURIComponent(`${longitude},${latitude};<%= hotel.coordinates %>`)}?alternatives=false&geometries=geojson&steps=true&access_token=pk.eyJ1IjoibW9rc2hpdDA2IiwiYSI6ImNrYW1qamMybDA0eW0yeXFvMnB5dW1sMmUifQ.T7tkxjaaE6hY6m4mV5GEpQ`;

      document.querySelector('#mapbox-directions-origin-input .mapboxgl-ctrl-geocoder input').value = `${longitude}, ${latitude}`

      document.querySelector('#mapbox-directions-destination-input .mapboxgl-ctrl-geocoder input').value = '<%- hotel.coordinates %>'
    })
  </script>

</body>

</html>