<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
  <title>Document</title>
</head>

<body>
  <%- include('partials/header.ejs') %>

  <div class="user-area">
    <img src="<%- user.image %>" alt="">
    <div class="user-info">
      <h1><%= user.displayName %></h1>
      <p class="email"><%= user.email %></p>
      <p class="status">
        <%= user.isDealer === 'true' ? 'Dealer': 'Customer' %>
      </p>
    </div>
  </div>

  <div class="divider"></div>

  <%if (user.isDealer === 'true') { %>
  <div class="page-subhead">Your Hotels</div>

  <% if (hotels.length > 0) { %>
  <div class="bookings">

    <% hotels.forEach(hotel => { %>
    <a href=<%- `/hotels/${hotel._id}` %> class="booking">
      <img src=<%- hotel.image %> alt="" class="hotel-image">
      <div class="hotel-info">
        <p><%- showCovidStats(hotel.covid) %></p>
        <h1><%= hotel.name  %></h1>
        <div class="hotel-location">
          <%= `${hotel.state} ${hotel.country}` %>
        </div>
        <div class="rating">
          <%- showStar('3.4') %>
        </div>
      </div>
    </a>
    <% }) %>

  </div>
  <% } else { %>

  <div class="message">
    <h1>You dont have any hotels right now!</h1>
    <a href="/hotels/create">Add a Hotel</a>
  </div>

  <% } %>
  <% } %>
  <div class="divider"></div>

  <div class="page-subhead">Your bookings</div>

  <% if (bookings.length > 0) { %>
  <div class="bookings">

    <% bookings.forEach(booking => { %>
    <a href=<%- `/hotels/${booking.room.hotel._id}` %> class="booking">
      <img src=<%= booking.room.hotel.image %> alt="" class="hotel-image">
      <div class="hotel-info">
        <p><%- showCovidStats(booking.room.hotel.covid) %></p>
        <h1><%= booking.room.hotel.name  %></h1>
        <div class="hotel-location">
          <%= `${booking.room.hotel.state} ${booking.room.hotel.country}` %>
        </div>
        <p class="room-name"><%= `${booking.room.name} - ${booking.room.beds} BHK` %></p>
        <p class="booked-on"><%= booking.bookedAt %></p>
        <div class="rating">
          <%- showStar('3.4') %>
        </div>
      </div>
    </a>
    <% }) %>

  </div>

  <% } else { %>

  <div class="message">
    <h1>You dont have any bookings right now!</h1>
    <a href="/hotels/">Do a booking</a>
  </div>

  <% } %>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
  <script>
    const bookedOn = document.querySelectorAll('.booked-on')

    bookedOn.forEach(booking => {
      booking.innerHTML = `Booked at ${moment(booking.innerHTML).format('D MMM YYYY')}`;
    })

  </script>
</body>

</html>